@keyframes searchRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes popIn {
    0% {
        transform: scale(.5);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes popOut {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(.5);
    }
}

@keyframes backdropIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// @keyframes userMenuOpen {
//     0% {
//         right: 50%;
//         transform: translateX(50%);
//     }

//     100% {
//         right: 0;
//         transform: translateX(0);
//     }
// }

// @keyframes userMenuClose {
//     0% {
//         right: 0;
//         transform: translateX(0);
//     }

//     100% {
//         right: 50%;
//         transform: translateX(50%);
//     }
// }

@keyframes userMenuJiggle {
    0% {
        transform: translateX(50%);
    }
    
    25% {
        transform: translateX(52%);
    }

    50% {
        transform: translateX(42%);
    }

    75% {
        transform: translateX(52%);
    }

    100% {
        transform: translateX(50%);
    }
}

// @keyframes backdropOut {
//     0% {
//         opacity: 1;
//     }

//     100% {
//         opacity: 0;
//     }
// }