*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}
  
body {
    box-sizing: border-box;
    background-color: $color-primary-light;

    &::-webkit-scrollbar {
        background-color: rgba($color-primary-lighter, .5);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-primary-dark;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}
