@font-face {
    font-family: "BRoya";
    src: url("/css/font/BRoya.ttf");
}

@font-face {
    font-family: "BElham";
    src: url("/css/font/BElham.ttf");
}

body {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-primary-lightest;
}

.heading-primary {
    background-image: linear-gradient(to bottom,
        $color-secondary-light 45%,
        $color-secondary-dark 55%,
        $color-secondary-light 70%);
    -webkit-background-clip: text;
    color: transparent;
    font-family: $font-en-primary;
    font-size: 6rem;
    font-weight: 700;
}

.heading-secondary {
    font-weight: 300;
    font-size: 3.5rem;
}