// Colors
$color-primary-darker: #3B1240;
$color-primary-dark: #762480;
$color-primary-lightest: #f177ff;
$color-primary-lighter: #D540E6;
$color-primary-light: #B136BF;
$color-secondary-light: #FFD500;
$color-secondary-dark: #a58900;
$color-links-background: rgb(228, 228, 228);
$color-links-delete: rgb(187, 42, 73);

// Fonts
$font-primary: 'BRoya', sans-serif;
$font-secondary: 'BElham', sans-serif;
$font-en-primary: 'Quicksand', sans-serif;
$font-en-secondary: 'Exo 2', sans-serif;

// Lenghts
$page-layout-width: 100rem;
$page-layout-width-phone: 100vw;
$page-layout-border-radius: 5px;
$page-element-top-margin: 1.3rem;
$gallery-grid-gutter: 2rem;
$card-height: 25rem;
$card-width: calc((#{$page-layout-width} - 2 * #{$gallery-grid-gutter}) / 3);
$card-width-phone: 28.5rem;
$card-height-phone: 20rem;

// Utility
.englishFont-primary {
    font-family: $font-en-primary;
}
.englishFont-secondary {
    font-family: $font-en-secondary;
}

// Mixin
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };  // 600px
    }
}