<section class="categories main__categories">
    <a class="btn categories__btn" id="تکنولوژی" href="/category/تکنولوژی/page/1">تکنولوژی</a>
    <a class="btn categories__btn" id="هوانوردی" href="/category/هوانوردی/page/1">هوانوردی</a>
    <a class="btn categories__btn" id="شهر" href="/category/شهر/page/1">شهر</a>
    <a class="btn categories__btn" id="خوراک" href="/category/خوراک/page/1">خوراک</a>
    <a class="btn categories__btn" id="نقاشی" href="/category/نقاشی/page/1">نقاشی</a>
    <a class="btn categories__btn" id="جانوران" href="/category/جانوران/page/1">جانوران</a>
    <a class="btn categories__btn" id="بازی" href="/category/بازی/page/1">بازی</a>
    <a class="btn categories__btn" id="فضا" href="/category/فضا/page/1">فضا</a>
    <a class="btn categories__btn" id="گربه" href="/category/گربه/page/1">گربه</a>
    <a class="btn categories__btn" id="سگ" href="/category/سگ/page/1">سگ</a>
    <a class="btn categories__btn" id="خودرو" href="/category/خودرو/page/1">خودرو</a>
    <a class="btn categories__btn" id="طبیعت" href="/category/طبیعت/page/1">طبیعت</a>
    <a class="btn categories__btn" id="فانتزی" href="/category/فانتزی/page/1">فانتزی</a>
    <a class="btn categories__btn" id="پس زمینه" href="/category/پس زمینه/page/1">پس&nbsp;زمینه</a>
    <a class="btn categories__btn" id="ورزشی" href="/category/ورزشی/page/1">ورزشی</a>
    <a class="btn categories__btn" id="طراحی داخلی" href="/category/طراحی داخلی/page/1">طراحی&nbsp;داخلی</a>
</section>