<footer class="footer">
    <div class="footer__contacts">
      <a href="" class="footer__instagram">
        <svg>
          <use xlink:href="/img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <p class="footer__text">
        <span class="footer__en">image.ir &copy;</span>
        - دانلود عکس و تصویر - 
        <span class="footer__en">m.yegane49@outlook.com</span>
      </p>
    </div>
</footer>