<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{{title}}</title>
<link href="https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,400i,700,700i|Quicksand:300,400,700&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="/img/logo.png">

