<header class="header">
    <div class="header__container">
        <a class="header__logo" href="/"><img src="/img/logo.png" alt="Logo / لوگو"></a>
        <h1 class="header__heading">
            <a href="/"><span class="heading-primary">imagebay</span></a>
            <span class="heading-secondary">دانلود عکس و تصویر</span>
        </h1>
        <div class="header__user">
            <a class="btn header__btn header__btn--signin" id="signin-btn">ورود</a>
            <a class="btn header__btn header__btn--signup" id="signup-btn">ثبت نام</a>
        </div>
    </div>
</header>