<nav class="navigation">
  <a class="navigation__backward" href="#">پیشین</a>
  <ul id="pagination-nav" class="navigation__pagination">
    {{!-- <a href="" class="navigation__page navigation__page--cur">1</a>
    <a href="" class="navigation__page">2</a>
    <a href="" class="navigation__page">3</a>
    <a href="" class="navigation__page">4</a>
    <a href="" class="navigation__page">5</a>
    <a href="" class="navigation__page">6</a>
    <a href="" class="navigation__page">7</a>
    <a href="" class="navigation__page">8</a>
    <a href="" class="navigation__page">9</a>
    <a href="" class="navigation__page">10</a> --}}
    
  </ul>
  <a class="navigation__forward" href="#">پسین</a>
</nav>