<section class="search main__search">
    <form class="search__form">
        <input dir="rtl" type="text" name="searchPhrase" class="search__input" placeholder="جستجو">
        <button class="search__btn" type="submit">
            <svg class="search__icon">
                <use xlink:href="/img/sprite.svg#icon-search"></use>
            </svg>
        </button>
    </form>
</section>