<section class="userPanel main__userPanel">
    <div class="userPanel__links">
        <a class="userPanel__btn userPanel__btn--delete">
            <svg class="userPanel__icon userPanel__icon--deleteIcon">
                <use xlink:href="/img/sprite.svg#icon-bin"></use>
            </svg>
        </a>
        <div class="userPanel__btn--seperator"></div>
        <a class="userPanel__btn userPanel__btn--edit">
            <svg class="userPanel__icon userPanel__icon--editIcon">
                <use xlink:href="/img/sprite.svg#icon-pencil"></use>
            </svg>
        </a>
        <div class="userPanel__btn--seperator"></div>
        <a class="userPanel__btn userPanel__btn--editPassword">تغییر رمز</a>
        <div class="userPanel__btn--seperator"></div>
        <a href="/profile/{{userName}}/page/1" class="userPanel__btn userPanel__btn--posts">پست ها</a>
        <div class="userPanel__btn--seperator"></div>
        <a class="userPanel__btn userPanel__btn--saves" href="/profile-saves/{{userName}}/page/1">
            <svg class="userPanel__icon userPanel__icon--saveIcon">
                <use xlink:href="/img/sprite.svg#icon-bookmark"></use>
            </svg>
        </a>
        <div class="userPanel__btn--seperator"></div>
        <a class="userPanel__btn userPanel__btn--add">
            <svg class="userPanel__icon userPanel__icon--addIcon">
                <use xlink:href="/img/sprite.svg#icon-plus"></use>
            </svg>
        </a>
    </div>
    <div class="userPanel__conceal"></div>
    <div class="userPanel__userInfo" id="{{userId}}">
        <img src="{{avatarSrc}}" alt="User Avatar" class="userPanel__image">
        <p class="userPanel__username">{{userName}}</p>
    </div>
</section>