<!DOCTYPE html>
<html>
<head>
  {{!-- <link rel="stylesheet" href="/css/home.css" type="text/css"> --}}
  {{>head}}
</head>
<body>
  <div id="popup"></div>
  {{>header}}
  <main class="main">
    {{>search}}
    {{>categories}}
    <section class="gallery main__gallery">
     
    </section>
  </main>
  <div class="bottom-part">
    {{>navigation}}
    {{>footer}}
  </div>

  <script src="/js/home.js"></script>
</body>
</html>
