<!DOCTYPE html>
<html>
<head>
    {{!-- <link rel="stylesheet" href="/css/image.css" type="text/css"> --}}
    {{>head}}
</head>
<body>
    <div id="popup"></div>
    {{>header}}
    <main class="main">
        {{>search}}
        {{>categories}}
        <section class="actualImage main__actualImage">
            <img class="actualImage__image {{approved}}" src="{{lImageSrc}}" alt="image / عکس">
            {{!-- <div class="actualImage__approveIndicator actualImage__approveIndicator--{{approved}}"></div> --}}
            <div class="actualImage__panel">
                <div class="actualImage__generalBtns"> 
                    <a class="actualImage__btn actualImage__btn--ownerInfo" href="/profile/{{ownerName}}/page/1">
                        <img class="actualImage__ownerProfileImg" src="{{ownerProfileImg}}">
                        <p class="actualImage__ownerName">{{ownerName}}</p>
                    </a>
                    <div class="actualImage__seperator"></div>
                    <a href="/category/{{category}}/page/1" class="actualImage__btn actualImage__btn--category">{{category}}</a>
                    <div class="actualImage__seperator"></div>
                    <p class="actualImage__trivia">
                        <span dir="rtl" class="actualImage__trivia--date">{{pDate}}</span>
                        <span class="actualImage__trivia--size">{{imageWidth}}&nbsp;&times;&nbsp;{{imageHeight}}</span>
                    </p>
                    <div class="actualImage__seperator"></div>
                    <a class="actualImage__btn actualImage__btn--icon actualImage__btn--download" href="{{lImageSrc}}">
                        <svg class="actualImage__btn--downloadIcon">
                            <use xlink:href="/img/sprite.svg#icon-download3"></use>
                        </svg>
                        <p class="actualImage__text">{{downloadNum}}</p>
                    </a>
                </div>
                <div class="actualImage__userBtns">
                    <div class="actualImage__seperator"></div>
                    <a class="actualImage__btn actualImage__btn--icon actualImage__btn--delete">
                        <svg class="actualImage__btn--deleteIcon">
                            <use xlink:href="/img/sprite.svg#icon-bin"></use>
                        </svg>
                    </a>
                    <div class="actualImage__seperator"></div>
                    <a class="actualImage__btn actualImage__btn--icon actualImage__btn--edit">
                        <svg class="actualImage__btn--editIcon">
                            <use xlink:href="/img/sprite.svg#icon-pencil"></use>
                        </svg>
                    </a>
                </div>
                <div class="actualImage__otherUserBtns">
                    <div class="actualImage__seperator"></div>
                    <a class="actualImage__btn actualImage__btn--icon actualImage__btn--save">
                        <svg class="actualImage__btn--saveIcon">
                            <use xlink:href="/img/sprite.svg#icon-bookmark"></use>
                        </svg>
                    </a>
                    <div class="actualImage__seperator"></div>
                    <a class="actualImage__btn actualImage__btn--icon actualImage__btn--like">
                        <svg class="actualImage__btn--likeIcon">
                            <use xlink:href="/img/sprite.svg#icon-heart"></use>
                        </svg>
                        <p class="actualImage__text">{{likeNum}}</p>
                    </a>
                </div>
            </div>
            <p class="actualImage__caption" dir="rtl">{{caption}}</p>
        </section>
        <section class="comment main__comment">
            <div class="comment__sender">
                <textarea dir="rtl" class="comment__textarea" placeholder="دیدگاه شما"></textarea>
                <button class="comment__btn button">فرستادن</button>
            </div>
            
            <ul class="comment__container">
                {{!-- <li class="comment__item">
                    <div class="comment__opinion comment__opinion--comment">
                        <div class="comment__opinionBtns">
                            <a class="comment__delete comment__delete--opinion">
                                <svg class="comment__delete--icon">
                                    <use xlink:href="/img/sprite.svg#icon-bin"></use>
                                </svg>
                            </a>
                            <button class="comment__replyBtn">پاسخ</button>
                        </div>
                        <div class="comment__opinionInfo">
                            <p class="comment__opinionText" dir="rtl">دیدگاه</p>
                            <a class="comment__commentator" href="">
                                <img class="comment__commentator--avatar" src="/uploads/profileImgs/default-profile-image.jpg">
                                <p>commentator</p>
                            </a>
                        </div>
                    </div>

                    <div class="comment__sender comment__sender--reply">
                        <textarea dir="rtl" class="comment__textarea" placeholder="پاسخ شما"></textarea>
                        <button class="comment__btn comment__btn--cancel button">انصراف</button>
                        <button class="comment__btn comment__btn--reply button">فرستادن</button>
                    </div>
                    
                    <div class="comment__opinion comment__opinion--reply">
                        <div class="comment__opinionBtns">
                            <a class="comment__delete comment__delete--reply">
                                <svg class="comment__delete--icon">
                                    <use xlink:href="/img/sprite.svg#icon-bin"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="comment__opinionInfo">
                            <p dir="rtl" class="comment__opinionText">پاسخ</p>
                            <a class="comment__commentator" href="">
                                <img class="comment__commentator--avatar" src="/uploads/profileImgs/default-profile-image.jpg">
                                <p>replier</p>
                            </a>
                        </div>
                    </div>
                </li> --}}
            </ul>
        </section>
    </main>
    <div class="bottom-part">
        {{>footer}}
    </div>

    <script src="/js/image.js"></script>
</body>
</html>