<!DOCTYPE html>
<html>
<head>
    {{!-- <link rel="stylesheet" href="/css/profile.css" type="text/css"> --}}
    {{>head}}
</head>
<body>
    <div id="popup"></div>
    {{>header}}
    <main class="main">
        {{>userPanel}}
        <section class="gallery main__gallery">
            {{!-- <div class="card">
                <a class="card__figure" href="">
                    <img class="card__img" src="/uploads/images/test.jpg" alt="gallery figure / تصویر گالری">
                </a>
                <div class="card__info">
                    <div class="card__author">
                        <a class="card__author--avatar" href=""><img class="card__author--img" src="/uploads/profileImgs/default-profile-image.jpg" alt="author avatar / تصویر کاربر"></a>
                        <a dir="auto" class="card__author--name" href="">author name</a>
                    </div>
                    <p class="card__trivia">
                        <span dir="rtl" class="card__trivia--date">7 آبان 98</span>
                        <span class="card__trivia--size">2048 x 1365</span>
                    </p>
                </div>
            </div> --}}
        </section>
    </main>
    <div class="bottom-part">
        {{>navigation}}
        {{>footer}}
    </div>

    <script src="/js/profile.js"></script>
</body>
</html>