.btn {
    &:link, &:visited, & {
        padding: .5rem 2rem;
        border-radius: 3rem;
        text-align: center;
        transition: all .1s;
    }

    &:hover {
        transform: translateY(-1px);
    }

    &:active {
        transform: translateY(1px);
    }
}

.button {
    border-radius: 3rem;
    border: none;
    background-color: $color-primary-light;
    transition: all .1s;
    padding: .5rem 0;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    
    &:hover {
        transform: translateY(-1px);
    }

    &:focus {
        transform: translateY(1px);
        outline: none;
    }

    &:disabled {
        background-color: red;
        transform: translateY(0);
        cursor: not-allowed;
    }
}