.card {
    height: $card-height;
    width: $card-width;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 2px 0 $color-primary-darker;
    transition: all .2s;

    @include respond(phone) {
        width: $card-width-phone;
        height: $card-height-phone;
    }
    
    &:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 4px 2px $color-primary-dark;
    }

    &--clicked:hover {
        transform: scale(.95);
        box-shadow: none;
    }
    
    &__figure {
        display: block;
        height: 75%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 5px 5px 0 0;
        }
    }
    
    &__info {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
    
    &__author {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        
        &--avatar {
            display: block;
            height: 3.5rem;
            margin-right: 1rem;
        }
        
        &--img {
            border: 1px solid $color-primary-dark;
            border-radius: 50%;
            height: 100%;
        }
        
        &--name {
            color: $color-primary-dark;
            overflow: hidden;
        }
    }

    &__trivia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-primary-dark;
        line-height: 1.2;

        // &--date {

        // }

        // &--size {

        // }
    }
}