.categories {
    width: 100%;
    margin-top: $page-element-top-margin;
    border-radius: $page-layout-border-radius;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    @include respond(phone) {
        width: $page-layout-width-phone;
        border-radius: 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
    }

    &__btn {
        width: 11rem;
        margin: .5rem;
        background-color: $color-primary-light;
        color: #fff;
        font-family: $font-secondary;
        font-size: 1.6rem;

        &--active {
            background-color: $color-secondary-dark;

            &:hover, &:active {
                transform: translateY(0);
            }
        }
    }
}