.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__input {
        width: 70%;
        margin: 0 0 .5rem 1.5rem;
        padding: .5rem 1.5rem;
        font-family: inherit;
        border: 2px solid $color-primary-light;
        border-radius: 3rem;
        outline: none;
    
        &:focus {
            border: 2px solid $color-secondary-dark;
        }
        
        // &:first-of-type {
        //     margin-top: 3rem;

        //     &[name=textarea] {
        //         margin-top: 0;
        //     }
        // }

        &:first-child {
            margin-top: 3rem;
        }
    
        &--red:focus, &--red {
            border-color: red;
        }

        &--textarea {
            padding: 1rem 1.5rem;
            border-radius: 1.5rem;
            resize: vertical;
        }

        &--select {
            width: 30%;
        }

        &--checkbox {
            height: 3rem;
            width: 3rem;
        }
    }
    
    &__label {
        flex-grow: 1;
        margin: 0 1.5rem 1rem 0;
        color: $color-primary-dark;
        text-align: right;
    
        &:first-of-type {
            margin-top: 3rem;

            &[for=textarea-input] {
                margin-top: 0;
            }
        }
    }
    
    &__errMessage {
        width: 100%;
        height: 2rem;
        vertical-align: center;
        margin: 0 0 1rem 1.5rem;
        color: red;
    }
    
    &__btn {
        margin: 2rem auto;
        width: 10rem;
        font-size: 1.6rem;
    }
    
    &__file-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1.5rem .5rem 1.5rem;
        width: 100%;

        &--image {
            margin-top: 3rem;
        }
    
        label {
            background-color: $color-primary-light;
            color: #fff;
            text-align: center;
            border-radius: 3rem;
            cursor: pointer;
            padding: .5rem;
            width: 9rem;
            transition: all .1s;
    
            &:hover {
                transform: translateY(-1px);
            }
            
            &.red-label {
                background-color: red;
            }
        }
    
        p {
            color: $color-primary-dark;
        } 
    
        span {
            font-family: $font-en-primary;
        }
    }
}

input[type="file"] {
    display: none;
}
