.search {
    width: 100%;
    margin-top: $page-element-top-margin;
    display: flex;
    justify-content: center;
  
    &__form {
        width: 54rem;
        height: 4.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @include respond(phone) {
            width: 100%;
        }
    }
    
    &__input {
        width: 85%;
        height: 100%;
        border-radius: 3rem;
        padding: .8rem 5rem .8rem 2rem;
        border: none;
        outline: none;
        font-family: inherit;
        font-size: 1.6rem;
        transition: all .2s;

        position: relative;
        left: 1.5rem;

        &:focus {
            width: 100%;
        }
    }

    &__btn {
        height: 3rem;
        width: 3rem;
        border: none;
        outline: none;
        position: relative;
        right: 2.5rem;
        background-color: #fff;
        cursor: pointer;
        
        &:hover {
            animation-name: searchRotate;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
        }

        &:active {
            transform: scale(1.1);
        }
    }
    
    &__icon {
        height: inherit;
        width: inherit;
        fill: $color-primary-light;
        
    }
}
