.userPanel {
    margin: $page-element-top-margin auto 5rem auto;
    position: relative;
    width: 100%;
    height: 11rem;
    overflow: hidden;

    @include respond(phone) {
        width: 100%;
        margin-bottom: 2.5rem;
    }

    &__userInfo {
        height: 11rem;
        display: inline-flex;
        align-items: center;
        border-radius: 6rem;
        padding: 1rem;
        background-color: #fff;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        z-index: 30;
        transition: right .5s, transform .5s;

        // &:hover {
        //     animation: userMenuJiggle .2s;
        // }
    }

    &__image {
        width: 9rem;
        height: 9rem;
        border: 1px solid $color-primary-dark;
        border-radius: 50%;
    }

    &__username {
        text-align: center;
        color: $color-primary-dark;
        font-size: 2rem;
        margin-left: 1rem;
    }

    &__conceal {
        position: absolute;
        right: 0;
        width: 50%;
        height: 11rem;
        background-color: $color-primary-light;
        z-index: 20;
        transition: width .5s;

        @include respond(phone) {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            z-index: 35;
            background-color: rgba($color-primary-dark, .5);
            backdrop-filter: blur(.5rem);
            display: none;
        }
    }

    &__links {
        height: 6rem;
        background-color: $color-links-background;
        border-radius: 3rem;
        padding-right: 6rem;
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        transition: left .5s;

        display: flex;
        align-items: center;

        @include respond(phone) {
            width: 65%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: -100%;
            border-radius: 0;
            transform: translateY(0);
            z-index: 40;
            padding: 1rem 0;
            transition: left .3s;

            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__btn {
        &:link, &:visited, & {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            // flex-grow: 1;
            height: 100%;
            color: $color-primary-dark;
            cursor: pointer;

            @include respond(phone) {
                width: 100%;
                justify-content: flex-start;
                padding-left: 2.5rem;
                height: 6rem;
            }
        }

        &--delete {
            border-radius: 4rem 0 0 4rem;

            @include respond(phone) {
                border-radius: 0;
                order: 10;
            }
        }

        &--edit {
            @include respond(phone) {
                border-radius: 0;
                order: 9;
            }
        }

        &--editPassword {
            @include respond(phone) {
                order: 8;
            }
        }

        &--unapproved {
            @include respond(phone) {
                order: 7;
            }
        }

        &--posts {
            @include respond(phone) {
                order: 6;
            }
        }

        &--saves {
            @include respond(phone) {
                order: 5;
            }
        }

        // &--add {
        //     font-size: 4.5rem;     
        // }

        &--seperator {
            height: 70%;
            border-right: 1px solid rgba($color-primary-dark, .3);

            @include respond(phone) {
                // height: 0;
                // border-right: none;
                // width: 90%;
                // border-bottom: 1px solid rgba($color-primary-dark, .3);
                // margin: 0 auto;
                display: none;
            }
        }

        &:hover {
            background-color: rgba($color-primary-lighter, .3);
        }

        &:active {
            background-color: rgba($color-primary-dark, .3);
        }
    }

    &__icon {
        width: 9rem;

        @include respond(phone) {
            width: 3rem;
        }

        &--saveIcon, &--addIcon, &--editIcon {
            fill: $color-primary-dark;
            height: 2.6rem;
        }

        &--deleteIcon {
            fill: $color-links-delete;
            height: 2.6rem;
        }
    }
}