.actualImage {
    width: 100%;
    margin-top: $page-element-top-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__image {
        width: 70%;
        border-radius: $page-layout-border-radius;

        @include respond(phone) {
            width: 100%;
            border-radius: 0;
        }
    }

    // &__approveIndicator {
    //     height: 5rem;
    //     width: 12rem;
    //     margin-top: $page-element-top-margin;
    //     padding: .5rem;
    //     border-radius: 4rem;
    //     display: none;
    //     justify-content: center;
    //     align-items: center;
    //     color: #fff;

    //     &--true {
    //         background-color: green;
    //     }

    //     &--false {
    //         background-color: red;
    //     }
    // }
    
    &__panel {
        // min-height: 5rem;
        margin-top: $page-element-top-margin;
        border-radius: 4rem;
        overflow: hidden;
        background-color: $color-links-background;
        display: inline-flex;
        align-items: center;

        @include respond(phone) {
            width: 100%;
            border-radius: 0;

            flex-wrap: wrap;
            justify-content: center;
            
        }
    }

    &__seperator {
        height: 4rem;
        border-right: 1px solid rgba($color-primary-dark, .3);
    }

    &__btn {
        &:link, &:visited, & {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-primary-dark;
            height: 5rem;
            padding: 0 .5rem;
            cursor: pointer;
        }

        &:hover {
            background-color: rgba($color-primary-lighter, .3);
            cursor: pointer;
        }

        &:active {
            background-color: rgba($color-primary-dark, .3);
        }

        &--icon:link, &--icon:visited, &--icon {
            padding: 0 2rem;
        }

        &--downloadIcon, &--editIcon {
            fill: $color-primary-dark;
            height: 2.6rem;
            width: 2.6rem;
        }

        &--deleteIcon {
            fill: $color-links-delete;
            height: 2.6rem;
            width: 2.6rem;
        }

        &--saveIcon {
            fill: transparent;
            stroke: $color-primary-dark;
            stroke-width: 3px;
            height: 2.6rem;
            width: 2.4rem;
        }

        &--savedIcon {
            fill: $color-primary-dark;
        }

        &--likeIcon {
            fill: transparent;
            stroke: red;
            stroke-width: 3px;
            height: 2.6rem;
            width: 2.8rem;
        }

        &--ownerInfo {
            &:link, &:visited, &:active, & {
                color: $color-primary-dark;
                display: flex;
                align-items: center;
            }
        }

        &--category {
            @include respond(phone) {
                font-size: 1.3rem;
            }
        }
    }
    
    &__text {
        font-weight: bold;
        margin-left: 1rem;
    }

    &__generalBtns, &__userBtns, &__otherUserBtns {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__userBtns, &__otherUserBtns {
        @include respond(phone) {
            border-top: 1px solid rgba($color-primary-dark, .3);
        }
    }

    &__userBtns {
        .actualImage__seperator:first-child {
            @include respond(phone) {
                display: none;
            }
        }
    }

    &__ownerProfileImg {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-right: 1rem;
        // overflow: hidden;
        border: 1px solid $color-primary-dark;
    }

    // &__ownerAvatar {
    //     width: 100%;
    //     height: 100%;
    // }

    &__ownerName {
        // &:link, &:visited, &:active, & {
        //     color: $color-primary-dark;
        // }
        margin-bottom: 2px;
    }

    &__trivia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        color: $color-primary-dark;
        height: 100%;
        line-height: 1.1;

        @include respond(phone) {
            font-size: 1.3rem;
        }
    }

    &__userBtns, &__otherUserBtns {
        display: none;
    }

    &__caption {
        background-color: #fff;
        margin-top: $page-element-top-margin;
        border-radius: $page-layout-border-radius;
        color: $color-primary-dark;
        font-size: 1.8rem;
        padding: 1rem;
        width: 70%;
    }
}