.comment {
    width: 70%;
    margin-top: $page-element-top-margin;

    @include respond(phone) {
        width: 100%;
    }

    &__sender {
        background-color: #fff;
        border-radius: 2.5rem;
        padding: .6rem;

        display: none;
        justify-content: space-between;
        align-items: center;

        &--reply {
            display: flex;
            margin-top: $page-element-top-margin;
            width: 93%;
            border-radius: 2rem;
        }
    }

    &__textarea {
        height: 3.8rem;
        flex-grow: 1;
        padding: .5rem 1.5rem;
        box-sizing: border-box;
        font-family: inherit;
        border: 2px solid $color-primary-light;
        border-radius: 2.5rem;
        outline: none;

        // resize: none;
        // overflow: hidden;

        resize: vertical;

        // line-height: 2.3rem;
    
        &:focus {
            border: 2px solid $color-secondary-dark;
        }

        &::-webkit-scrollbar {
            background-color: $color-primary-lightest;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: $color-primary-light;
        }
    
        &::-webkit-scrollbar-button {
            display: none;
        }
    }

    // &__replySenderBtns {

    // }

    &__btn {
        width: 6rem;
        padding: 3px;
        font-size: 1.6rem;
        margin-left: 1rem;

        @include respond(phone) {
            width: 5rem;
            padding: 2px;
            font-size: 1.4rem;
        }

        &--cancel, &--reply {
            display: block;
        }

        &--cancel {
            background-color: $color-primary-lighter;
            margin-top: .7rem;
        }
    }

    ////////  container  ////////

    &__container {
        list-style: none;
    }

    &__item {
        margin-top: $page-element-top-margin;
    }

    &__opinion {
        border-radius: 2.5rem;
        padding: .5rem;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &--reply {
            margin-top: $page-element-top-margin;
            width: 93%;
            background-color: $color-links-background;
        }
    }

    &__opinionBtns {
        display: flex;
        align-items: center;
    }

    &__delete {
        height: 2.5rem;
        cursor: pointer;
        margin: 4px 1rem 0 .6rem;

        @include respond(phone) {
            height: 2rem;
            margin: .6rem .7rem 0 .6rem;
        }

        &--opinion {
            margin-top: 0;
        }

        &--icon {
            // fill: $color-links-delete;
            // width: 100%;
            height: 100%;
        }
    }

    &__replyBtn {
        color: #fff;
        background-color: $color-primary-light;
        padding: 0 1.5rem .5rem 1.5rem;
        // line-height: 2;
        font-size: 1.6rem;
        border-radius: 2.5rem;
        margin-top: 2px;

        @include respond(phone) {
            padding: 0 .8rem 2px .8rem;
            font-size: 1.4rem;
            margin-top: 4px;
        }
    }

    &__opinionInfo {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-left: 1rem;
    }

    &__opinionText {
        flex-grow: 1;
        color: $color-primary-dark;
        margin: .5rem 1rem 0 0;
        text-align: right;

        @include respond(phone) {
            font-size: 1.4rem;
        }
    }

    &__commentator {
        &:link, &:visited, & {
            display: flex;
            align-items: center;
            color: $color-primary-dark;
        }

        &--avatar {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            border: 1px solid $color-primary-dark;
            margin-right: .5rem;

            @include respond(phone) {
                width: 3rem;
                height: 3rem;
            }
        }

        p {
            margin-bottom: 2px;
        }
    }
}