.footer {
    align-self: flex-end;
    width: $page-layout-width;

    @include respond(phone) {
        width: $page-layout-width-phone;
    }

    &__contacts {
        width: 100%;
        margin-top: $page-element-top-margin;
        background-color: $color-primary-darker;
        border-radius: $page-layout-border-radius;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            border-radius: 0;
        }
    }

    &__instagram {
        height: 3rem;
        width: 3rem;
        margin-right: 3rem;
        transition: all .2s;

        @include respond(phone) {
            margin-left: 2.5rem;
        }

        svg {
            height: inherit;
            width: inherit;
            fill: $color-primary-lighter;
        }

        &:active {
            transform: translateY(1px);
        }
    }

    &__text {
        text-align: center;

        @include respond(phone) {
            line-height: 1.3;
        }
    }

    &__en {
        font-family: $font-en-primary;
        font-size: 1.4rem;
    }
}