.gallery {
    margin-top: $page-element-top-margin;
    width: 100%;
    // min-height: calc(6 * #{$card-height} + 5 * #{$gallery-grid-gutter});

    display: grid;
    grid-gap: $gallery-grid-gutter;
    grid-template-columns: repeat(3, $card-width);
    // grid-template-rows: repeat(6, $card-height);

    @include respond(phone) {
        grid-template-columns: $card-width-phone;
        justify-content: center;
    }
}