.header {
    text-align: center;
    background-color: $color-primary-darker;
    width: 100%;
    
    &__container {
        width: $page-layout-width;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        @include respond(phone) {
            width: $page-layout-width-phone;
            flex-direction: column;
        }
    }

    &__logo {
        height: 9rem;
        
        img {
            height: inherit;
        }

        @include respond(phone) {
            display: none;
        }
    }
    
    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .heading-primary {
            @include respond(phone) {
                font-size: 6rem;
            }
        }

        .heading-secondary {
            @include respond(phone) {
                display: none;
            }
        }
    }

    &__user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            flex-direction: row;
        }
    }

    &__btn {
        color: $color-primary-dark;
        background-color: #fff;
        width: 9rem;
        cursor: pointer;

        &--signup, &--signout {
            margin-top: 1rem;
        }

        &--signin {
            @include respond(phone) {
                margin-right: 1rem;
            }
        }

        @include respond(phone) {
            margin-bottom: .5rem;
            margin-top: 1rem;
        }
    }

    &__userLinks {
        display: flex;
        align-items: center;

        @include respond(phone) {
            order: 2;
            margin-left: 1.5rem;
            margin-top: .4rem;
        }

        &--profileImg {
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
            
            img {
                width: inherit;
                height: inherit;
                border-radius: 50%;
                border: 1px solid $color-primary-lighter;
            }
        }

        &--userName {
            color: $color-primary-lighter;
        }
    }
}
