body {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: none;
    // grid-auto-rows: max-content;

    .main {
        width: $page-layout-width;

        @include respond(phone) {
            width: $page-layout-width-phone;
        }
    }

    .bottom-part {
        align-self: end;
    }
}
