.navigation {
    width: $page-layout-width;
    border-radius: $page-layout-border-radius;
    margin-top: $page-element-top-margin;
    background-color: #fff;
    padding: 1.5rem;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include respond(phone) {
        width: $page-layout-width-phone;
        align-items: center;
        border-radius: 0;
    }
    
    a:link, a:visited, a {
        color: #fff;
        transition: all .2s;
    }

    &__backward:link, &__backward:visited {
        background-color: $color-primary-light;
        min-width: 5rem;
        min-height: 4rem;
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
        padding: .5rem 0 0 1.1rem;

        &:hover {
            transform: translateX(-2px);
        }

        &:active {
            transform: translateX(-4px);
        }
    }

    &__forward:link, &__forward:visited {
        background-color: $color-primary-light;
        min-width: 5rem;
        min-height: 4rem;
        clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
        padding: .4rem 0 0 .5rem;

        &:hover {
            transform: translateX(2px);
        }

        &:active {
            transform: translateX(4px);
        }
    }
    
    &__pagination {
        // list-style: none;
        height: 6rem;
        margin: 2px 1.5rem 0 1.5rem;
        display: flex;
        align-items: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
        
        @include respond(phone) {
            height: 12rem;
            width: 13rem;
            flex-wrap: wrap;
            align-items: center;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        &::-webkit-scrollbar {
            background-color: rgba($color-primary-lighter, .5);
            height: 1.8rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-primary-light;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }
    }
    
    &__page {
        background-color: $color-primary-light;
        min-width: 2.3rem;
        min-height: 2.3rem;
        margin: .7rem;
        text-align: center;

        
        &:hover {
            transform: scale(1.05);
        }
        
        &:active {
            transform: scale(.9);
        }

        &--cur {
            background-color: $color-secondary-dark;

            &:hover, &:active {
                transform: scale(1);
            }
        }
    }
    

}
