.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-primary-dark, .5);
    backdrop-filter: blur(.5rem);
    animation-name: backdropIn;
    animation-duration: .3s;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100%;
        height: 100%;
    }

    &__container {
        background-color: #fff;
        width: 40rem;
        border-radius: $page-layout-border-radius;
        padding: 1rem;
        animation-name: popIn;
        animation-duration: .3s;

        position: relative;
        z-index: 300;

        @include respond(phone) {
            border-radius: 0;
            padding: 4px;
        }
    }

    &__close-btn {
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        color: $color-primary-dark;
        font-size: 3rem;
        font-weight: 600;
        line-height: .7;

        &:hover {
            color: $color-secondary-dark;
        }
    }

    &__message {
        color: $color-primary-dark;
        font-size: 2rem;
        text-align: center;
        padding: 1rem 0;
    }

    &__message-btn {
        padding: .5rem 1rem;
        margin-top: 1rem;
    }
}